<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Update on Your Trading Account Application</h1>
    <p>
      Hello <%= @email %>,
    </p>
    <p>
      We regret to inform you that your trading account application has been declined at this time.
    </p>
    <p>
      If you believe this was done in error or would like to submit a new application, please contact our support team.
    </p>
    <p>
      Thank you for your interest in our platform.
    </p>
  </body>
</html>