<h1>Trading Account Deleted</h1>
<p>Hello <%= @email %>,</p>
<p>
  Your trading account has been deleted by an administrator. 
  If you believe this was done in error, please contact our support team.
</p>